.date-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 0;
}

.date-header__main {
    display: flex;
    flex-direction: column;
}

.date-header__main > .date-header__year {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

.date-header__main > .date-header__month {
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    color: rgb(147, 147, 147);
}

.date-header__direction {
    background-color: transparent;
    border: none;
    cursor: pointer;
}